#bookingform{
    display:grid;
    grid-template-columns:  1fr 1fr 2fr 1fr 1fr 2fr ;
    
}
.bookingcell {
    /* border: 1px solid lightgray; */
    margin-bottom:1px;
    padding:5px;
}
.myform{
    display:grid;
    grid-template-columns: 100px 200px;
}
.repeat{
    display: grid;
    grid-template-columns:auto auto auto;
}


