html {
    background: url("/images/Green-Parrots-Desktop-Wide-Wallpapers.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Bangers', cursive;

}

.container {
    /*font-family: 'Bangers', cursive;*/
    font-size: 20px;
background-color: white;
margin-top: 5%;
margin-left: 10%;
margin-right: 40%;
padding-left: 10%;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 100px;
min-height: 200px;
min-width: 300px;
height: 50%;
/*text-align: center;*/
}
h1 {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
}
h3 {
    font-size: 80px;
}
.del_button{
    font-family: 'Bangers', cursive;
    color: red;
    margin: 10px;
    font-size: 15px;
}
.edit_button {
    font-family: 'Bangers', cursive;
    color: gray;
    font-size: 15px;
}
 .add_button {
    font-family: 'Bangers', cursive;
    font-size: 15px;
}
.text-box {
    width: 160px;
    border-radius: 20px;
    line-height: 30px;
    border: 0px;
    padding-left: 10px;
    font-size: 15px;
    font-family: 'Bangers', cursive;
}
.add_form {
    position: absolute;
    top: 75%;
    display: inline-block;
}
button {
    font-family: 'Bangers', cursive;
    color: gray;
    margin: 10px;
}
input {
    width: auto;
    border-radius: 20px;
    border: 0px;
    line-height: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-family: 'Bangers', cursive;
}
/*.comma {
    width: 5px;
    height: 0;
    border:20px solid transparent;
    border-radius: 0px 0px 0px 20px;
    border-left: 80px solid white;
}*/
.comma {
    height:60px;
    width:60px;
    background: white;
    border-radius: 0px 0px 0px 50px;
    /*border-top: 20px solid white;*/
    margin-left: 40%;
}
