<div class="col-md-6">
    <form ng-submit="user.addUser()">
    <h1>Sign Up</h1>
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" ng-model="bacon.something">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="username" ng-model="bacon.something">
    <label for="password">Password</label>
    <input type="text" class="form-control" id="username" ng-model="bacon.something">
    <label for="passconfirm">Repeat password</label>
    <input type="text" class="form-control" id="username" ng-model="bacon.something">
    <button id="signup-button" type="submit">Sign Up</button>
    </form>
</div>
